@model IEnumerable<Question>

<div class="container">
    <table class="table table-striped">
        <tr><th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>AuthorId</th>
            <th>Author</th>
            <th>Category</th>
            <th>Answers</th>
            <th>Actions</th>
            </tr>
        @foreach (var question in Model)
        {
            <tr>
                <td><a asp-controller="Question"
                       asp-action="Details"
                       asp-route-id="@question.QuestionId">@question.Title</a></td>
                <td>@question.Title</td>
                <td>@question.Description</td>
                <td>@question.AuthorId</td>
                <td>@question.Author</td>
                <td>@question.ImageUrl</td>
                <td>@question.Answers</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@question.QuestionId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@question.QuestionId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <hr/>
    <p>
        <a class="btn btn-secondary" asp-controller="Question" asp-action="Create">Ask New Question</a>
    </p>
</div>