@model DonerSD.Models.ShippingDetails
@{
    ViewBag.Title = "CheckOut";
}

<style>
    .field-validation-error {color:#f00;}
    .field-validation-valid {display:none;}
    .input-validation-error {border:1px solid #f00;background-color : #fee;}

    .validation-summary-errors {font-weight :bold; color : #f00;}
    .validation-summary-valid {display:none;}
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Order Informasjon</h2>
            <p>Vennligst skriv inn dine opplysninger</p>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <div class="form-group row">
                    <label for="navnEtternavn" class="col-sm-2 col-form-label">Navn Etternavn</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.FullName, new { placeholder = "skriv inn navn og etternavn", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Adressetittel</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.AdresseTittel, new { placeholder = "skriv inn adressetittel", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Adresse</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Adresse, new { placeholder = "skriv inn adresse", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Postnummer</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.PostNummer, new { placeholder = "skriv inn postnummer", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Poststed</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.PostSted, new { placeholder = "skriv inn poststed", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kommune</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Kommune, new { placeholder = "skriv inn kommune", @class = "form-control" })
                    </div>
                </div>
                <p></p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Lagre</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>